<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scrape Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
      
  
    <div class="container" style="width:100%">
      <div class="row">
        <div class="col-md-12">
            <h2>Latest Mars News</h2>
            <h3>{{ mars_data.news_title }}</h3>

            <p>{{ mars_data.news_p }}</p>
        </div>
    </div>

    <div class="container" style="width:100%">
      <div class="row">
          <div class="col-md-8">
              <h2>Featured Mars Image</h2>
              <img src=  {{ mars_data.featured_image_url }} alt="" class="featured">
          </div>
  
          <div class="col-md-3">
              <div class="card" style="width: 20rem;">
                  <div class="card-body">
                      <h2 class="card-title">Current Weather on Mars</h2>
                      <p class="card-text">{{ mars_data.mars_weather }}</p>
                  </div>
              </div>
              

                <h2>Mars Facts</h2>
               {{ mars_data.fact_html }}
  
            </div>
          </div>
      </div>


    <div class="col-md-12">
      <div class="box">

          <h2>Mars Hemisphere</h2>
          
          <div class="col-md-6 border" >
              <img src=  {{ mars_data.hemisphere_image_urls[0]["img_url"] }} alt="Hemisphere" class="Cerberus", width="600px">
              <h3> {{ mars_data.hemisphere_image_urls[0]["title"] }}</h3>
        
          </div>

          <div class="col-md-6 border" >
              <img src=  {{ mars_data.hemisphere_image_urls[1]["img_url"] }} alt="Hemisphere" class="schiaparelli", width="600px">
              <h3> {{ mars_data.hemisphere_image_urls[1]["title"] }}</h3>
          </div>

          <div class="col-md-6 border" >
              <img src=  {{ mars_data.hemisphere_image_urls[2]["img_url"] }} alt="Hemisphere" class="syrtis_major", width="600px">
              <h3> {{ mars_data.hemisphere_image_urls[2]["title"] }}</h3>
            
          </div>

          <div class="col-md-6 border" >
              <img src=  {{ mars_data.hemisphere_image_urls[3] ["img_url"] }} alt="Hemisphere" class="valles_marineris", width="600px">
              <h3> {{ mars_data.hemisphere_image_urls[3]["title"] }}</h3>
            
          </div>
        
      </div>
    </div>
</div>


    
  </div>

</body>
</html>

